<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon palm-account-icon whatsapp-icon"></div>
		<div class="title">WhatsApp</div>
	</div>
</div>

<div class="palm-body-text">You must indicate you international prefix and your phone number.</div>

<div class="palm-group">
	<div class="palm-group-title">TELEPHONE</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper">
				<div id="country" x-mojo-element="ListSelector"></div>   
			</div>
			<div class="palm-row-wrapper textfield-group"
				x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label">NUMBER</div>
					<div id="number" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div x-mojo-element="Button" id="confirmButton"></div>
